.topnav-right {
    float: right;
  }

.navbar-brand {
    font-weight: bold;
  }

.logoutButton {
  cursor:pointer;
  }

.loginTime{
  margin-bottom: 2px;
}

.amountCounter{
  font-weight: 600;
  margin-bottom: 0;
}